.lk-warning
    .lk-warning__img
        img(src="img/warning.png", alt="")
    .lk-warning__text
        p Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий 