.tariff-card
    .tariff__name Базовый пакет
    .tariff__descr
        span 500 
        span Файлов
    .tariff__price
        span 3800 $
        span 3000
        span $
    .tariff__property.property
        ul.property__list
            li.property__item
                span
                span Дополнительные функции
            li.property__item
                span
                span Бесплатная поддержка
            li.property__item
                span
                span Варианты обновления
            li.property__item
                span
                span Полный доступ
    .tariff__btn.button
        span Бесплатно