.section.section_alltariff
    .container
        .tariff__title.title Тарифы
        ul.tariff__list
            li.tariff__item
                include ../../blocks/tariff/index.pug
            li.tariff__item
                include ../../blocks/tariff/index.pug
            li.tariff__item
                include ../../blocks/tariff/index.pug
        ul.tariff__list
            li.tariff__item
                include ../../blocks/tariff/index.pug
            li.tariff__item
                include ../../blocks/tariff/index.pug
            li.tariff__item
                include ../../blocks/tariff/index.pug