.section.section_news
    .container
        .news
            .news__title.title Новости и статьи
            .news__box
                .news-card
                    .news__img
                        img(src="img/news-1.png", alt="")
                    .news__date 
                        +svg({
                            name: 'clock'
                        })
                        span 20 Сентября
                    .news__text Тут допустим какой-нибудь интересный заголовок, а снизу есть кнопка 
                    .news__arrow
                        +svg({
                            name: 'arrow-news'
                        })
                .news-card
                    .news__img
                        img(src="img/news-1.png", alt="")
                    .news__date 
                        +svg({
                            name: 'clock'
                        })
                        span 20 Сентября
                    .news__text Тут допустим какой-нибудь интересный заголовок, а снизу есть кнопка 
                    .news__arrow
                        +svg({
                            name: 'arrow-news'
                        })
                .news-card
                    .news__img
                        img(src="img/news-1.png", alt="")
                    .news__date 
                        +svg({
                            name: 'clock'
                        })
                        span 20 Сентября
                    .news__text Тут допустим какой-нибудь интересный заголовок, а снизу есть кнопка 
                    .news__arrow
                        +svg({
                            name: 'arrow-news'
                        })