.news{
    margin-bottom: 50px;
    &-card{
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 370px;
        cursor: pointer;

    }
    &__date{
        padding-left: 30px;
        margin-top: 26px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        & svg{
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }

    }
    &__text{
        padding-left: 34px;
    }
    &__arrow{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 33px;
        & svg{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__img{
        max-width: 370px;
        width: 100%;
        object-fit: contain;
        & img{
            width: 100%;
        }
    }
}
.section_news{
    padding-top: 10px;
    padding-bottom: 10px;
}


@media (max-width: 1200px) {
    .news{
        &-card{
            width: 290px;
        }
    }

}
@media (max-width: 900px) {
    .news{
        &-card{
            width: 370px;
            margin-right: 20px;
        }
    }

}
@media (max-width: 768px) {
    .news{
        &-card{
            min-width: 342px;
            width: 100%;
            margin-right: 20px;
        }
        &__box{
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

}