.section.section_lk
    .container
        include ../../blocks/lk-filter/index.pug
        include ../../blocks/lk-warning/index.pug
        .lk__grid
            .lk-column
                .lk-column__text
                    span Сайт
                .lk-column__text
                    span Индексация
                    +svg({
                        name: 'question'
                    })
                .lk-column__text
                    span Сжатие
                    +svg({
                        name: 'question'
                    })
            include ../../blocks/lk-line/index.pug
            include ../../blocks/lk-line/index.pug
            include ../../blocks/lk-line/index.pug
        include ../../blocks/lk-mytariff/index.pug




