footer.footer
    .container
        .footer__top
            .footer__logo
                +svg({
                    name: 'logo'
                })
                span Сервис автоматического сжатия изображений
            .footer__communication
                .footer__social
                    .footer__link
                        +svg({
                            name: 'fb'
                        })
                    .footer__link
                        +svg({
                            name: 'vk'
                        })
                    .footer__link
                        +svg({
                            name: 'whatsapp'
                        })
                    .footer__link
                        +svg({
                            name: 'inst'
                        })
                    .footer__lang
                        +svg({
                            name: 'lang'
                        })
                        span en
                .footer__support
                    span Тех. поддержка:
                    a(href="#") imagic@gmail.com
        .footer__bottom
            .footer__copy
                span © copyright 2020 by Imagic.com
                a(href="#") Разработка ZAHAROV
script(src="js/libs.js")
script(src="js/script.js")