.section.section_questions
    .container
        .questions
            .questions__title.title Есть вопросы?
            ul.questions__list
                li.questions__item
                    .questions__num 01
                    .questions__subtitle Как обновить новые функции сервиса
                    .questions__text
                li.questions__item
                    .questions__num 02
                    .questions__subtitle Как обновить новые функции сервиса
                    .questions__text 
                li.questions__item.questions__item_open
                    .questions__num 03
                    .questions__subtitle Как связаться со службой поддержки, чтобы улучшить работу сервиса
                    .questions__text  Следует отметить, что постоянное информационно-пропагандистское обеспечение нашей деятельности не даёт нам иного выбора, кроме определения переосмысления внешнеэкономических политик. Банальные, но неопровержимые выводы, а также сделанные на базе интернет-аналитики выводы, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. Каждый из нас понимает очевидную вещь: высококачественный прототип будущего проекта предопределяет высокую востребованность направлений прогрессивного развития.
                li.questions__item
                    .questions__num 04
                    .questions__subtitle Ошибки маркетинга мобильных приложений до и после запуска, которых следует избегать
                    .questions__text 
