.section.section_tariff
    .container
        .tariff
            .tariff__title.title Выбрать тарифный план
            ul.tariff__list
                li.tariff__item
                    include ../../blocks/tariff/index.pug
                li.tariff__item
                    include ../../blocks/tariff/index.pug
                li.tariff__item
                    include ../../blocks/tariff/index.pug
            .tariff-all
                .tariff-all__link
                    span Все тарифы