.check
    .check__title
        p Проверьте, сжаты ли изображения на вашем сайте
    .check__input
        input(type="text" placeholder="https://")
        .check__btn.button
            span Проверить