.section.section_advantages
    .container
        .advantages
            .advantages__title Возможности и преимущества
            ul.advantages__list
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                li.advantages__item
                    .advantages__img
                        +svg({
                            name: 'features-2'
                        })
                    .advantages__box
                        .advantages__name
                            span Отличное сжатие
                        .advantages__text
                            span Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации.
                    
                        