.sections.section_lk
    .container
        include ../../blocks/lk-mytariff/index.pug
        include ../../blocks/chart/index.pug
        .accounting
            .accounting__info
                span Дата
                span Индексация
                span Сжатие
                span МБ
            ul.accounting__list
                li.accounting__item
                    .accounting__date
                        span 11 октября
                    .accounting__index
                        span 218 файлов
                    .accounting__compression
                        span 130 файлов
                    .accounting__size
                        span 348 мб
                li.accounting__item
                    .accounting__date
                        span 11 октября
                    .accounting__index
                        span 218 файлов
                    .accounting__compression
                        span 130 файлов
                    .accounting__size
                        span 348 мб
                li.accounting__item
                    .accounting__date
                        span 11 октября
                    .accounting__index
                        span 218 файлов
                    .accounting__compression
                        span 130 файлов
                    .accounting__size
                        span 348 мб
                li.accounting__item
                    .accounting__date
                        span 11 октября
                    .accounting__index
                        span 218 файлов
                    .accounting__compression
                        span 130 файлов
                    .accounting__size
                        span 348 мб
                li.accounting__item
                    .accounting__date
                        span 11 октября
                    .accounting__index
                        span 218 файлов
                    .accounting__compression
                        span 130 файлов
                    .accounting__size
                        span 348 мб

