.lk-view
    .lk-view__btn.button
        span Добавить сайт
    .lk-view__sort
        span Сортировка
        +svg({
            name: 'arrow-down'
        })
    .lk-view__search
        +svg({
            name: 'search'
        })
        input(type="text" placeholder="Поиск")
    .lk-view__show
        +svg({
            name: 'view-show-2'
        })
        +svg({
            name: 'view-show-1'
        })