.section.section_intro
    .container
        .intro
            .intro__info
                h1.intro__title.title Сервис автоматического сжатия изображений
                .intro__text
                    p Ускорьте работу вашего сайта буквально в два клика! Бла бла бла, пусть будет пока так нужно  думать длинный текст.
                .intro__btn.button
                    span Попробовать бесплатно
                include ../../blocks/check/index.pug
            .intro__img
                img(src="img/intro-bg.png", alt="")
        