.section.section_manual
    .container
        .manual
            .manual__title.title Как пользоваться сервисом
            .manual__steps
                span.manual__steps_active 1
                span 2
                span 3
                span 4
                span 5
            .manual__subtitle Регистрация
            .manual__text Таким образом укрепление и развитие структуры  способствует подготовки и реализации соответствующий условий активизации. Разнообразный и богатый
            .manual__btn.button Регистрация