//- haeder.header-lk
//-     .container
//-         a(href="#").header__logo
//-             +svg({
//-                 name: 'logo'
//-             })
//-         .header-lk__nav
//-             ul.header-lk__list
//-                 li.haeder-lk__item
//-                     a(href="#").header-lk__link Мои сайты
//-                 li.haeder-lk__item
//-                     a(href="#").header-lk__link Статистика
//-                 li.haeder-lk__item
//-                     a(href="#").header-lk__link Партнерская программа
//-                 li.haeder-lk__item
//-                     a(href="#").header-lk__link Скидки
//-                 li.haeder-lk__item
//-                     a(href="#").header-lk__link.header-lk__link_help Помощь
//-         .header-lk__btn.button
//-             span Пополнить
//-         .header-lk__icon
//-             .header-lk__alert
//-                 +svg({
//-                     name: 'lk-alert'
//-                 })
//-             .header-lk__questions
//-                 +svg({
//-                     name: 'lk-question'
//-                 })
//-             .header-lk__person
//-                 +svg({
//-                     name: 'lk-user'
//-                 })
//-             .header-lk__email
//-                 span imagic@zhr.ru
//-     .header-mobile
//-             .header-mobile__burger
//-                 +svg({
//-                     name: 'burger'
//-                 })
//-             .header-mobile__logo
//-                 +svg({
//-                     name: 'logo'
//-                 })
//-             .header-mobile__profile
//-                 +svg({
//-                     name: 'user'
//-                 })