.section.section_statistics
    .container
        .statistics
            .statistics__left
                .statistics__title.title  Статистика
                .statistics__text Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Разнообразный и богатый опыт новая
            .statistics__right
                ul.statistics__list
                    li.statistics__item
                        .statistics__num
                            span 7842
                        .statistics__descr
                            span Загрузок
                    li.statistics__item
                        .statistics__num
                            span 6020
                        .statistics__descr
                            span Понравилось
                    li.statistics__item
                        .statistics__num
                            span 360
                        .statistics__descr
                            span Отзывов
                    li.statistics__item
                        .statistics__num
                            span 200
                        .statistics__descr
                            span Награды