.section.section_features
    .container
        .features
            .features__left
                .features__title.title Возможности и преимущества
                .features__text Таким образом укрепление и развитие структуры  способствует подготовки и реализации соответствующий условий активизации. Разнообразный и богатый
                .features__btn.button
                    span Все преимущества
            .features__right
                ul.features__list
                    li.features__item
                        .features__img
                            +svg({
                                name: 'features-1'
                            })
                        .features__name
                            span  Отличное сжатие
                    li.features__item
                        .features__img
                            +svg({
                                name: 'features-2'
                            })
                        .features__name
                            span  URL и имена файлов не изменяются
                    li.features__item
                        .features__img
                            +svg({
                                name: 'features-3'
                            })
                        .features__name
                            span  Ускорение загрузки сайта
                    li.features__item
                        .features__img
                            +svg({
                                name: 'features-4'
                            })
                        .features__name
                            span  Оптимизация для <br> Google Pagespeed insights
            .features__btn.features__btn_mobile.button
                    span Все преимущества