.tariff-current
    .tariff-current__title
        p   Тариф простой
        span  изменить
    .tariff-current__remains
        span 12 564
        span Баланс файлов
    .tariff-current__btn.button
        span Пополнить  лимит