.section.section_reviews
    .container
        .reviews
            .reviews__title.title Что говорят наши клиенты
            .reviews__box
                .reviews__left
                    .reviews__img
                        img(src="img/reviews-2.png", alt="")
                    .reviews__img
                        img(src="img/reviews-1.png", alt="")
                    .reviews__img
                        img(src="img/reviews-2.png", alt="")
                    .reviews__img
                        img(src="img/reviews-1.png", alt="")
                    .reviews__img
                        img(src="img/reviews-2.png", alt="")
                    .reviews__img
                        img(src="img/reviews-2.png", alt="")
                    .reviews__img
                        img(src="img/reviews-1.png", alt="")
                    .reviews__img
                        img(src="img/reviews-1.png", alt="")
                    .reviews__main
                        img(src="img/reviews.png", alt="")
                .reviews__right
                    .reviews__slider
                        .reviews__name
                            span Елизавета Ваулина
                        .reviews__text
                            p Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Разнообразный и богатый опыт новая
                            p Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Разнообразный и богатый опыт новая 
                            p Таким образом укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Разнообразный и богатый опыт новая
                    .reviews__arrow
                        .arrow.arrow_left
                            +svg({
                                name: 'arrow-left'
                            })
                        .arrow.arrow_right
                            +svg({
                                name: 'arrow-left'
                            })