.lk-line
    .lk-line__left
        .lk-line__indicator
            span
        .lk-line__website
            .lk-line__img
                img(src="img/ico-web.png", alt="")
            .lk-line__title
                span Гольфстрим
            .lk-line__subtitle
                span https://golfstream.shop
        
    .lk-line__center
        .lk-line__text
            span 7 дней назад
            span 7 дней назад
    .lk-line__right
        .lk-line__btn
            .lk-line__settings
                +svg({
                    name: 'settings'
                })
            .lk-line__stat
                +svg({
                    name: 'stat'
                })
            .lk-line__erase
                +svg({
                    name: 'close'
                })
            .lk-line__burger
                +svg({
                    name: 'burger-line'
                })