.section.section_lk
    .container
        include ../../blocks/lk-filter/index.pug
        include ../../blocks/lk-warning/index.pug
        .lk__grid
            include ../../blocks/lk-card/index.pug
            include ../../blocks/lk-card/index.pug
            include ../../blocks/lk-card/index.pug
            include ../../blocks/lk-card/index.pug
            include ../../blocks/lk-card/index.pug
            include ../../blocks/lk-card/index.pug
        //- include ../../blocks/lk-line/index.pug
        include ../../blocks/lk-mytariff/index.pug




